/* pytch-ide.css */


/******************************************************************************/

html { height: 100%; }

body {
    height: 100%;
    background-color: #dde;
    margin: 0px 8px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#code-and-stage {
    margin-top: 8px;
    display: flex;
    flex-direction: row;
}

#editor {
    border: 1px solid lightgray;
    margin: 0px;
    flex-grow: 1;
    font-size: 16px;
}

#stage-with-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px 0px 0px 8px;
}

#stage-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 0px 8px 0px;
}

#pytch-canvas {
    border: 1px solid lightgray;
    background: white;
}

#info-panel-tabs {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
}

#info-panel-content {
    overflow: auto;
    background-color: white;
    margin: 0px 0px 8px 0px;
    padding: 0px;
    flex-grow: 1;
    flex-shrink: 1;
}


/******************************************************************************/

#stage-controls > div {
    cursor: pointer;
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 6px;
}
