/* table.diff { width: 100%; margin: 0px; } */
div.patch { background-color: #f7f7f7; border-spacing: 0px; margin: 0px 3em; }

div.patch > table tr:nth-child(1) td { padding-top: 0.3333ex; }
div.patch > table tr:nth-last-child(1) td { padding-bottom: 0.25ex; }
div.patch > table tr { width: 100%; }
div.patch > table tr td:nth-child(1),
div.patch > table tr td:nth-child(2) {
    width: 3em;
    padding-left: 1em;
    padding-right: 2em;
    text-align: right;
    font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
div.patch > table tr td:nth-child(3) { width: 100%; }
div.patch > table tr td:nth-child(3) pre::before { margin-right: 1em; }
div.patch > table tr.diff-del { background-color: #ffcaca; }
div.patch > table tr.diff-del td:nth-child(3) pre::before { content: '-'; }
div.patch > table tr.diff-add { background-color: #caffca; }
div.patch > table tr.diff-add td:nth-child(3) pre::before { content: '+'; }
div.patch > table tr.diff-unch { background-color: #f7f7f7; }
div.patch > table tr.diff-unch td:nth-child(3) pre::before { content: ' '; }
div.patch > table tr, div.patch > table tr:nth-child(2) { padding: 0px; margin: 0px; border: none; }
div.patch > table tr td { padding: 0px; margin: 0px; border: none; }
div.patch > table tr td pre {
    line-height: 100%;
    padding: 2px;
    margin: 0px;
    border: none;
    border-radius: 0px;
    background-color: inherit;
}

p.inter-hunk {
    text-align: center;
    font-size: 125%;
    margin-top: 0.5ex;
    margin-bottom: 0.5ex;
}
